*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body,html{
    margin:0;
    padding:0;
}
body::-webkit-scrollbar{
    width:0;
}

.nav-item a{
    font-size:18px;
    margin-right: 10px;
    font-weight:500;
    
}
.nav-item a:hover{
    color:red;
}
.navbar-brand{
    font-size:30px;
    font-weight: 700;
}
td{
    border:2px solid black;
    text-align: center;
}

